/* Icerikli Baslik: Icerik Alani */
header > .clear {
    padding-top: 8px !important;
}

/* Genel Header - Arama */
.ui-menu {
    font-family: "Source Sans Pro" !important;
    box-shadow: 0 0 8px 0 #00000022 !important;
    border-radius: 4px !important;
}

.ui-menu-item .ui-menu-item-wrapper:hover {
    background: #77777722 !important;
    border-color: #77777722 !important;
    border-radius: 4px !important;
}

#titlesearchcontainer {
    margin-top: 3px;
    height: 40px !important;
    max-height: 40px !important;
}

#titlesearchloading {
    height: 40px !important;
    max-height: 40px !important;
}

#button_searchtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1px 1px 0;
    width: 48px !important;
    height: 40px;
}

#titleAdvancedSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0 0 0;
}

#button_searchinentries {
    padding: 8px 10px 10px 10px !important;
}


/* Baslik - Sayfa Değiştirici */
#centerframe div:has(> div > .dropdown-pagination),
#leftframe > div:has(> .dropdown-pagination) {
    display: none !important;
}

/* yazar profili hr çizgileri */
#centerframe:has(.profile-nickname) > .has-side-ad- > hr {
    display: none !important;
}

#chatpreviewcontainer {
    padding-top: 4px !important;
    user-select: none;
}
#frame_chatpreviewheading {
    padding: 6px 0 8px 6px !important;
    border: none !important;
    user-select: none;
    text-transform: lowercase;
}
#frame_chatpreviewheading > a, #frame_notificationsheading > a {
    background-color: #77777722;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 10pt;
}
#frame_chatpreviewheading > a:hover, #frame_notificationsheading > a:hover {
    background-color: #77777744;
    color: inherit;
    text-decoration: none;
    transition: background-color 50ms ease-out;
}

.chatlist {
    border-radius: 4px;
    padding: 8px 6px !important;
    border: none !important;
}
.chatlist .date {
    top: 10px !important;
    font-size: 8pt !important;
}
.chatlist .authorimage {
    margin: 4px 8px 0 0 !important;
}

#container-list-header-buttons {
    justify-content: space-between !important;
    border-bottom: none !important;
}

#container-list-header-buttons > * {
    margin: 0 !important;
    margin-bottom: 0px !important;
}

#container-list-header-buttons.clearfix::after {
    display: none;
}

#container-search-in-title > form.form-inline {
    display: block;
}

/* Baslik */
#entriesheadingcontainer {
    padding-bottom: 8px !important;
    position: sticky !important;
    top: 64px !important;
    z-index: 1 !important;
}

#entriesheadingcontainer > header {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#entriesheadingcontainer > .title-tabs {
    display: flex !important;
    flex-direction: column !important;
    position: absolute !important;
    width: 50% !important;
    max-height: 250px !important;
    height: 250px !important;
    right: 0 !important;
    top: 16px !important;
    overflow: visible !important;
}

#entriesheadingcontainer .entryscrollbottom span {
    display: none !important;
}

#entry-heading-category > * {
    padding: 0px !important;
}

#frame_cockpit .fa {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #77777744;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 4px !important;
}

/* Genel Header - Bildirimler Paneli */
#frame_notifications {
    max-height: 560px !important;
}

#frame_notificationsheading {
    position: sticky;
    padding-top: 8px !important;
    top: 0;
    z-index: 1;
    text-transform: lowercase;
}

#footer {
    background-color: #00000000 !important;
    /* ??? */
    /* background-color: transparent !important; */
}

/* Footer */
#footer > .clearfix {
    display: none;
}

/* ??? */
/* Sol Cerceve */
#leftframe > div:nth-child(4) > div.list-group > div.list-group-item.list-group-item-action.p-0.active {
    border-radius: 4px !important;
    background-color: #c14114aa !important;
    box-shadow: inset 0 0 0 1px #f95318 !important;
}
/* ??? */
/* #leftframe .list-group-item.active */

/* ??? */
/* margin-bottom: -1px; kullanmış, bu sayede border'lar kesişir demiş. ama ben ölçeklendirme kullanıyorum */
/* bende 0.8px oluyor bir tanesi. diğeri 1 px kalıyor */
#nav-metatabs > * {
    /* border-bottom: none !important; */
    /* margin-bottom: 0 !important; */
}
/* ??? */

#titleAdvancedSearch {
    width: 32px !important;
}

#titleinfobox {
    /* başlık bilgisi */
    /* ??? */
}

/* Genel Header */
#topbarmenu {
    box-shadow: none !important;
}

/* Genel Header - Sag Tuslar */
#topnav-right {
    display: flex !important;
    gap: 8px;
    padding-bottom: 4px !important;
}

#topnav-right > .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #77777722;
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 2;
    transition: background-color 150ms ease-out, box-shadow 300ms linear, color 150ms ease-out;
    user-select: none;
}

#topnav-right > * {
    font-size: 0 !important;
}
#topnav-right > * > .fa {
    font-size: initial !important;
}
#topnav-right > a:last-child > i {
    color: unset !important;
}

/* ??? */
/* #topnav-right > * */

#topnav-right > .nav-link:hover {
    color: inherit !important;
    background-color: #77777744;
    box-shadow: 0 0 1px 2px #00000011 !important;
    transition: background-color 150ms ease-out, box-shadow 300ms linear, color 150ms ease-out;
}

#topnav-right > .nav-link:active {
    background-color: #77777733;
    box-shadow: 0 0 1px 1px #00000022 !important;
    transition: background-color 50ms ease-out, box-shadow 50ms linear;
}

/* ??? */
/* #topnav-right .fa */


.chatmessages {
    padding: 0 8px;
}

.message > a > img {
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
    max-width: 500px;
}

.message > .img {
    margin: 4px 4px 4px 0 !important;
    display: inline-block;
}

.cover-photo {
    border-radius: 16px;
}
.cover-photo-actions > .actionbutton {
    font-size: 0 !important;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px !important;
    width: 32px !important;
    transition: background-color 50ms ease-out !important;
}
.cover-photo-actions > .actionbutton:hover {
    transition: background-color 50ms ease-out !important;
}
.cover-photo-actions > .actionbutton > .fa {
    font-size: initial !important;
}

.right-drop-menu > .dropdown-item {
    color: unset !important;
    border-radius: 4px !important;
    user-select: none;
}


.entry .dropdown-item {
    text-transform: lowercase;
}

.entry .dropdown-item > .fa {
    display: inline-flex !important;
    min-width: 20px !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #77777744;
    border-radius: 50%;
    height: 24px !important;
    width: 24px !important;
    margin-right: 4px !important;
}
/* not: madalya takma tuşu için, editör özelliği */
.entry .entrymedal > img {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #77777744;
    border-radius: 50%;
    height: 24px !important;
    width: 24px !important;
    margin-right: 4px !important;
    padding: 3px;
}

#frame_cockpit > a:first-child > i {
    color: unset !important;
}

.dropdown-menu-pagination {
    max-height: 80vh !important;
}

.dropdown-pagination > .btn-group > .btn-sm {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.dropdown-pagination > .btn-group > .btn-sm > .fa {
    width: 8px !important;
}

/* Tanim */
.entrytext > .img {
    width: fit-content;
    display: block !important;
}
.entrytext > .img > img {
    border-radius: 8px !important;
}
/* ??? */
/* .entrytext img */

.info > .tags {
    max-width: 40% !important;
}

.info > .title-name {
    max-width: 40% !important;
}

.inpagechatframe {
    box-shadow: 0 0 8px 0 #00000022 !important;
}

/* Sayfa Ici Sohbet */
.inpagechatframe,
.inpagechatheader,
.inpagechattoggle {
    border-radius: 8px 8px 0 0 !important;
}

.inpagechatinput {
    margin: 0 4px !important;
    border-radius: 4px !important;
    width: 95% !important;
}

.inpagechattoggle {
    display: flex;
    height: 32px;
    align-items: center;
}

.inpagechattogglenickname {
    padding-left: 4px;
}

.messageseendate {
    top: 6px !important;
}

.profile-badge > img {
    object-fit: cover;
    width: 100px !important;
    transition: box-shadow 0.25s ease-out;
}

.profile-badge-actions > .actionbutton {
    height: 32px !important;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8c8c8 !important;
}

.profile-photo-actions > .actionbutton {
    height: 32px !important;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8c8c8 !important;
}

.profile-actions {
    max-width: 768px;
    margin: auto;
}

/* Profil */
.profile-picture > img {
    object-fit: cover;
    width: 100px !important;

    transition: box-shadow 0.25s ease-out, border-radius 0.25s cubic-bezier(.47, 1.64, .41, .8);
    
        &:hover {
            border-radius: 4px !important;
        }
}

/* Genel Header - Duser Menuler */
.right-drop-menu {
    box-shadow: 0 0 8px 0 #00000033 !important;
    transition: box-shadow 2s ease-out;
    border-color: #bdbdbd66 !important;
}

.dropdown-divider {
    border-color: #bdbdbd66 !important;
}

.senderimage img {
    width: 32px !important;
    height: 32px !important;
    object-fit: cover;
}

.status-note {
    padding: 4px !important;
}

.tab-content > .tab-pane > .entry {
    max-height: 180px !important;
    overflow: none !important;
    display: inline-block !important;
    flex-direction: column !important;
    overflow-y: scroll !important;
}
/* ??? */
/* #nav-metatabsContent .entry */

.title-meta-container > .info {
    margin-left: 16px !important;
}

.title-meta-container > .main-image {
    width: auto !important;
}

/* Icerikli Baslik */
.title-meta-container > .main-image > a > img {
    max-height: 256px !important;
    max-width: 162px !important;
    object-fit: cover !important;
    border-radius: 16px !important;
}
/* ??? */
/* .title-meta-container img */



/************************************ BACKGROUND_COLOR ************************************/

body {
    #entriesheadingcontainer {
        background-color: #fff;
        box-shadow: 0 -10px 0 #fff, 0 2px 2px #fff;
    }

    #frame_notificationsheading {
        background: border-box #fff !important;
        box-shadow: 0 3px 2px 0 #fff;
    }

    .inpagechatframe,
    .inpagechattoggle {
        border-color: #fff !important;
    }

    .profile-badge > img,
    .profile-picture > img,
    .profile-badge-actions > .actionbutton,
    .profile-photo-actions > .actionbutton {
        box-shadow: 0 0 0 4px #fff !important;
    }
    
    .right-drop-menu {
        background-color: #fcfcfc !important;
    }
    .right-drop-menu > .dropdown-item {
        background-color: #fcfcfc !important;
    }
    .right-drop-menu > .dropdown-item:hover {
        background-color: #ececec !important;
    }
}

body.grey {
    #entriesheadingcontainer {
        background-color: #ddd;
        box-shadow: 0 -10px 0 #ddd, 0 2px 2px #ddd;
    }

    #frame_notificationsheading {
        background: border-box #ddd !important;
        box-shadow: 0 3px 2px 0 #ddd;
    }

    .inpagechatframe,
    .inpagechattoggle {
        border-color: #ddd !important;
    }

    .profile-badge > img,
    .profile-picture > img,
    .profile-badge-actions > .actionbutton,
    .profile-photo-actions > .actionbutton {
        box-shadow: 0 0 0 4px #ddd !important;
    }

    .right-drop-menu {
        background-color: #d6d6d6 !important;
    }
    .right-drop-menu > .dropdown-item {
        background-color: #d6d6d6 !important;
    }
    .right-drop-menu > .dropdown-item:hover {
        background-color: #bebebe !important;
    }
}

body.dark-grey {
    #entriesheadingcontainer {
        background-color: #282828;
        box-shadow: 0 -10px 0 #282828, 0 2px 2px #282828;
    }

    #frame_notificationsheading {
        background: border-box #282828 !important;
        box-shadow: 0 3px 2px 0 #282828;
    }

    .inpagechatframe,
    .inpagechattoggle {
        border-color: #282828 !important;
    }

    .profile-badge > img,
    .profile-picture > img,
    .profile-badge-actions > .actionbutton,
    .profile-photo-actions > .actionbutton {
        box-shadow: 0 0 0 4px #282828 !important;
    }

    .right-drop-menu {
        background-color: #2c2c2c !important;
    }
    .right-drop-menu > .dropdown-item {
        background-color: #2c2c2c !important;
    }
    .right-drop-menu > .dropdown-item:hover {
        background-color: #444444 !important;
    }
}

body.dark {
    #entriesheadingcontainer {
        background-color: #181818;
        box-shadow: 0 -10px 0 #181818, 0 2px 2px #181818;
    }

    #frame_notificationsheading {
        background: border-box #181818 !important;
        box-shadow: 0 3px 2px 0 #181818;
    }

    .inpagechatframe,
    .inpagechattoggle {
        border-color: #181818 !important;
    }

    .profile-badge > img,
    .profile-picture > img,
    .profile-badge-actions > .actionbutton,
    .profile-photo-actions > .actionbutton {
        box-shadow: 0 0 0 4px #181818 !important;
    }

    .right-drop-menu {
        background-color: #1c1c1c !important;
    }
    .right-drop-menu > .dropdown-item {
        background-color: #1c1c1c !important;
    }
    .right-drop-menu > .dropdown-item:hover {
        background-color: #333333 !important;
    }
}

/******************************** END OF BACKGROUND_COLOR *********************************/